@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&display=swap');

/* Spinner */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.spinner div {
  width: 20px;
  height: 20px;
  background-color: #61DAFB;
  margin: 3px;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Hero Section */
.hero-section {
  text-align: center;
  padding: 80px 0;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  left: 30px;
}

.hero-section h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #333;
  font-family: "Rancho", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero-section p {
  font-size: 30px;
  color: #000000;
}

/* Style for "Get Started" Button */
.get-started-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  background-color: #007BFF;
  color: #fff;
  border: none; /* Remove the border */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.get-started-btn:hover {
  background-color: #0056B3;
}

/* About Us Section */
.about-us-section {
  padding: 60px 0;
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  left: 30px;
}

.about-us-section h2 {
  font-family: 'Rancho', cursive;
  font-size: 36px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.about-us-content  {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about-us-content h2 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #000000;
}

.about-us-content p {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 25px;
  color: #000000;
  margin-bottom: 20px;
}

/* Trial Card Section */
.trial-card-section {
  display: flex;
  align-items: center;
  justify-content:  center;
  padding: 60px 0;
}

.sentiment-chart {
  font-family: 'Bricolage Grotesque', sans-serif; /* Apply the specified font */
  flex: 1;
  max-width: 50%;
  padding: 0 30px;
  justify-content: center;
  display:flex;
}

/* Footer */
.footer {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: white;
}

.footer p {
  font-size: 16px;
  margin: 0;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icon {
  font-size: 24px;
  color: #333;
  margin: 0 10px;
  text-decoration: none;
}

.social-icon:hover {
  color: #ff5733;
}

