* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Set a background color for the entire page */
  body {
    /* background-image: url('https://www.repustate.com/blog/images/sentiment-analysis-for-news-monitoring.jpeg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Container for the sentiment analysis app */
  .homepage-container {
    background-color: gray;
    padding: 150px;
    border-radius: 8px;
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.1);
    max-width: 6000px;
    width: 150%;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-input {
    margin-bottom: 20px;
  }
  
  .user-input h3 {
    font-size: 18px;
  }
  
  textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .sentiment-rating {
    text-align: center;
  }
  
  .sentiment-rating h3 {
    font-size: 18px;
  }
  
  .emoji-feedback {
    font-size: 48px;
    margin-top: 10px;
  }
  
  .comments-section {
    margin-top: 30px;
  }
  
  .comments-section h3 {
    font-size: 18px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 14px;
  }