.user-preferences-container {
    background-color: black;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 200px auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.preferences-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-message,
.error-message {
    margin-bottom: 20px;
    color: red;
    font-size: 16px;
}

.preferences-form {
    width: 100%;
    padding: 30px;
    background-color:whitesmoke;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.preferences-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.preference-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    font-size: 25px;
}

.sentiment-icon {
    margin-right: 10px;
    font-size: 24px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 5px;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    border-radius: 5px;
    box-shadow: 2px 2px 0px rgb(183, 183, 183);
}

.checkmark,
.container input:checked ~ .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border-radius: 5px;
    transition: all 0.2s;
    opacity: 1;
}

.container input:checked ~ .checkmark {
    box-shadow: 3px 3px 0px rgb(183, 183, 183);
    background-image: linear-gradient(45deg, rgb(100, 61, 219) 0%, rgb(217, 21, 239) 100%);
}

.container input ~ .checkmark {
    box-shadow: 1px 1px 0px rgb(183, 183, 183);
}

.checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
}

.container input:checked ~ .checkmark:after {
    opacity: 1;
}

.container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}
