/* Assuming you have a CSS file for your Navbar component, e.g., Navbar.css */
  .App-header{
    display: flex;
  }
nav {
    background-color: #fda9a9; /* Background color for the navbar */
    padding: 10px;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 10px;
  }
  
  li a {
    text-decoration: none;
    color: white; /* Color of the links */
    padding: 8px 50px;
    font-size: 30px;
  }
  
  li a:hover {
    background-color: #a67070; /* Background color on hover */
    border-radius: 5px;
  }
  